<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
     id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <h6 class="font-weight-bolder mb-0">
        {% block page_title %}Dashboard{% endblock %}
      </h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <ul class="navbar-nav justify-content-end ms-auto">
        <!-- Home -->
        <li class="nav-item d-flex align-items-center">
          <a href="{{ path('app_home') }}" class="nav-link text-body font-weight-bold px-0">
            <i class="material-icons">home</i>
            <span class="d-sm-inline d-none">Home</span>
          </a>
        </li>

        <!-- Authors -->
        <li class="nav-item d-flex align-items-center ms-3">
          <a href="{{ path('listAuthor') }}" class="nav-link text-body font-weight-bold px-0">
            <i class="material-icons">people</i>
            <span class="d-sm-inline d-none">Authors</span>
          </a>
        </li>

        <!-- Services -->
        <li class="nav-item d-flex align-items-center ms-3">
          <a href="{{ path('app_service') }}" class="nav-link text-body font-weight-bold px-0">
            <i class="material-icons">build</i>
            <span class="d-sm-inline d-none">Services</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
